<project name="Avalon Merlin"
    href="http://jakarta.apache.org/avalon/excalibur/meta">

    <title>Avalon Sandbox Project</title>

    <body>

        <item name="Apache" href="http://www.apache.org"/>
        <item name="Avalon Home" href="http://jakarta.apache.org/avalon"/>
        <item name="Avalon Sandbox" href="http://jakarta.apache.org/avalon/sandbox"/>

        <menu name="Sandbox">
            <item name="Overview" href="index.html"/>
            <item name="Warning" href="warnings.html"/>
        </menu>

        <menu name="Projects">
            <item name="Assembly" href="assembly/"/>
            <item name="Lifecycle" href="lifecycle/"/>
            <item name="Meta" href="meta/"/>
            <item name="Merlin" href="merlin/"/>
        </menu>

        <menu name="Reference">
            <item name="Mailing List" href="list.html"/>
            <item name="Javadoc" href="api/"/>
        </menu>

    </body>
  
</project>

