
  

  
  

  
  

  

  
  

  
  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      


  
  

   
   



    <!DOCTYPE html PUBLIC "-//CollabNet//DTD XHTML 1.0 Transitional//EN" "http://www.collabnet.com/dtds/collabnet_transitional_10.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          Dependencies
        
          </title>
        
        
        
        
        
        <style type="text/css">
          @import url("./style/tigris.css");
          @import url("./style/maven.css");
          @import url("./style/osm.css");
        </style>
        
        <link rel="stylesheet" href="./style/print.css" type="text/css" media="print"></link>
        
      </head>

      <body marginwidth="0" class="composite" marginheight="0">
        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td>
                <div id="login" align="right">
                  <a href="http://apachecon.com/2003/US/index.html">
                    <img border="0" src="http://www.apache.org/~ceki/ac2003/ac2003-150.gif"></img>
                  </a>
                </div>
              </td>


              
              
            </tr>
          </table>
        </div>

        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="
        http://apache.org/
      ">
        Apache
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/
      ">
        Avalon
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/framework/
      ">
        Framework
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/containers/
      ">
        Containers
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/components/
      ">
        Components
      </a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>

        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="200" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    <div>
      
      
      <small><a href="index.html">Overview</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="components/index.html">Components</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="examples/index.html">Examples</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="notes/index.html">Developer Info</a></small>
      
    </div>
  
    </div>
  
                

                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="./project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                    
                      
                        <div>
                          <small>
                            <a href="./mail-lists.html">Mailing Lists</a>
                          </small>
                        </div>
                        <div>
                          <small>
                            <a href="./team-list.html">Project Team</a>
                          </small>
                        </div>
                        <div>
                          <small>
                            <a href="./dependencies.html">Dependencies</a>
                          </small>
                        </div>
                        
                          <div>
                            <small>
                              <a href="./cvs-usage.html">Source Repository</a>
                            </small>
                          </div>
                        
                        
                          <div>
                            <small>
                              <a href="./issue-tracking.html">Issue Tracking</a>
                            </small>
                          </div>
                        
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="./maven-reports.html">Project Reports</a>
                    </small>
                    
                      
                        
                         
                         
                           
                           
                        
                           
                           
                        
                           
                           
                        
                        
                        
                      
                      
                    
                  </div>
                  
                  
                  <div>
                    <small>
                      <a href="./license.html">License</a>
                    </small>
                  </div>
                </div>
              
                
              </div>
            </td>
            <td>
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Dependencies">Dependencies</a>
        </h3>
      
      
    <p>
       
        The following is a list of dependencies for this project.  These
        dependencies are required to compile and run the application:
      
    </p>
   
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
        
      
      
    

    
    <tr class="b">
    <th>
      ID
    </th>
   
    <th>
      Version
    </th>
   
    <th>
      JAR
    </th>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          avalon-framework 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      avalon-framework-api-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          avalon-framework 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      avalon-framework-impl-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          excalibur-thread 
                      
    </td>
   
    <td>
      1.1.1
    </td>
   
    <td>
      excalibur-thread-1.1.1.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          excalibur-event 
                      
    </td>
   
    <td>
      1.0.3
    </td>
   
    <td>
      excalibur-event-1.0.3.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          excalibur-datasource 
                      
    </td>
   
    <td>
      1.1.1
    </td>
   
    <td>
      excalibur-datasource-1.1.1.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          cornerstone-threads 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-threads-api-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          cornerstone-threads 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-threads-impl-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          cornerstone-connection 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-connection-api-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          cornerstone-connection 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-connection-impl-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          cornerstone-datasources 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-datasources-api-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          cornerstone-datasources 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-datasources-impl-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          cornerstone-scheduler 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-scheduler-api-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          cornerstone-scheduler 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-scheduler-impl-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          cornerstone-sockets 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-sockets-api-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          cornerstone-sockets 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-sockets-impl-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
       
                          cornerstone-store 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-store-api-SNAPSHOT.jar
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
       
                          cornerstone-store 
                      
    </td>
   
    <td>
      SNAPSHOT
    </td>
   
    <td>
      cornerstone-store-impl-SNAPSHOT.jar
    </td>
   </tr>
  
    </table>
  
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" cellpadding="4" cellspacing="0">
            <tr>
              <td>
                
                  
                    
                    
                       2001-2003, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  