<html>
<head>
<title>$title</title>

<style _type="type/css">
<!--
#include( "style.css" )
-->
</style>
</head>
<body>

<div align="center">

<!-- Start Header -->
<table border="0" width="100%" cellpadding="2" cellspacing="0">

 <tr class="banner">
                <td valign="middle">
                  <img src="images/phoenix-logo.jpg" />
                </td>
                <td valign="bottom" align="right">
                  Phoenix Management Console&nbsp;&nbsp;
                </td>
              </tr>
</table>
<hr size="1" noshade="" />
<!-- End Header -->

</div>
