<html>
<head><title>Phoenix Management Console</title></head>

<frameset cols="200,*" noresize="true" border="0"
          frameborder="0" framespacing="0" scrolling="no"
          marginheight="0" marginwidth="0" >
  <frame name="acookie_navbar" src="navbar.vm"/>
  <frame name="acookie_main" src="main.vm"/>
</frameset>

</html>
