<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.apache.avalon.MerlinDeveloperCore"
   name="MerlinDeveloper Core"
   version="0.0.4"
   provider-name="Apache Software Foundation"
   class="org.apache.avalon.ide.eclipse.merlin.core.MerlinDeveloperCore">

   <runtime>
      <library name="MerlinDeveloperCore.jar">
         <export name="*"/>
      </library>
      <library name="lib/xstream-0.2.jar"/>
      <library name="lib/xdoclet-1.2b4.jar"/>
      <library name="lib/xjavadoc-1.0.jar"/>
      <library name="lib/commons-collections-2.0.jar"/>
      <library name="lib/commons-lang.jar"/>
      <library name="lib/commons-logging.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.junit"/>
   </requires>


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="docs/eclipse/tocconcepts.xml">
      </toc>
      <toc
            file="docs/eclipse/tocgettingstarted.xml">
      </toc>
      <toc
            file="docs/eclipse/tocreference.xml">
      </toc>
      <toc
            file="docs/eclipse/tocsamples.xml">
      </toc>
      <toc
            file="docs/eclipse/toctasks.xml">
      </toc>
   </extension>

</plugin>
