<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.apache.avalon.ide.eclipse.repository"
   name="Repository Plug-in"
   version="1.0.0"
   provider-name="Apache Software Foundation"
   class="org.apache.avalon.ide.eclipse.repository.RepositoryPlugin">

   <runtime>
      <library name="lib/repository-tools.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench"/>
   </requires>


   <extension-point id="agent" name="Avalon Repository Agent" schema="schema/agent.exsd"/>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Repository Action Set"
            visible="true"
            id="org.apache.avalon.ide.eclipse.repository.actionSet">
         <menu
               label="Repository &amp;Menu"
               id="repositoryMenu">
            <separator
                  name="repositoryGroup">
            </separator>
         </menu>
         <action
               label="&amp;Repository Action"
               icon="icons/sample.gif"
               class="org.apache.avalon.ide.eclipse.repository.actions.RepositoryAction"
               tooltip="To be defined... plugin.xml"
               menubarPath="repositoryMenu/repositoryGroup"
               toolbarPath="repositoryGroup"
               id="org.apache.avalon.ide.eclipse.repository.actions.RepositoryAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <actionSet
               id="org.apache.avalon.ide.eclipse.repository.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </viewShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               id="org.eclipse.jdt.ui.PackageExplorer"
               relationship="stack">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               id="org.apache.avalon.ide.eclipse.repository.views.RepositoryView"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xconf"
            id="org.apache.avalon.ide.eclipse.repository.contribution1">
         <menu
               label="Assembly"
               path="additions"
               id="org.apache.avalon.ide.eclipse.repository.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Validate"
               class="org.apache.avalon.ide.eclipse.repository.actions.ValidateAction"
               menubarPath="org.apache.avalon.ide.eclipse.repository.menu1/group1"
               enablesFor="multiple"
               id="org.apache.avalon.ide.eclipse.repository.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Repositories"
            category="org.apache.avalon.ide.eclipse.repository.preferences.AvalonPreferencePage"
            class="org.apache.avalon.ide.eclipse.repository.preferences.RepositoryPreferencePage"
            id="org.apache.avalon.ide.eclipse.repository.preferences.RepositoryPreferencePage">
      </page>
      <page
            name="Avalon"
            class="org.apache.avalon.ide.eclipse.repository.preferences.AvalonPreferencePage"
            id="org.apache.avalon.ide.eclipse.repository.preferences.AvalonPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Repository Page"
            class="org.apache.avalon.ide.eclipse.repository.properties.RepositoryPropertyPage"
            nameFilter="*.repository"
            id="org.apache.avalon.ide.eclipse.repository.properties.RepositoryPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Avalon"
            id="org.apache.avalon.ide.eclipse">
      </category>
      <view
            name="Repository View"
            icon="icons/sample.gif"
            category="org.apache.avalon.ide.eclipse"
            class="org.apache.avalon.ide.eclipse.repository.views.RepositoryView"
            id="org.apache.avalon.ide.eclipse.repository.views.RepositoryView">
      </view>
   </extension>

</plugin>
