
  

  
  

  
  

  

  
  

  
  

  
  

  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      

  
  

  
  

   
   


    
	
	

    
    
      
	
	
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          Cornerstone Notes
        
          </title>
        
        
        
        <style type="text/css">
          @import url("../style/tigris.css");
          @import url("../style/maven.css");
        </style>
        
        
        
        
        
        <link rel="stylesheet" href="../style/print.css" type="text/css" media="print"></link>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
        
          <meta name="author" content="Stephen McConnell"></meta>
          <meta name="email" content="mcconnell@apache.org"></meta>
        
        
        
        
      </head>

      <body class="composite">

        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td></td>
              

            </tr>
          </table>
        </div>
        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="http://apache.org/">Apache</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/">Avalon</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/framework/">Framework</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/containers/">Merlin</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/components/">Planet</a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>
        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="20%" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../index.html">Overview</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../components/index.html">Components</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../examples/index.html">Examples</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../notes/index.html">Developer Info</a>
      	
      </small>
	  
        
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../notes/download.html">Download</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      		<b><a href="../notes/build.html">Build Instructions</a></b>
      	
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../api/index.html">Javadoc</a>
      	
      </small>
	  
        
      
    </div>
  
      
    </div>
  
    </div>
  
    <div>
      <strong>Related Projects</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/meta">Avalon Meta</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/framework">Avalon Framework</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/merlin">Avalon Merlin</a>
      	
      </small>
	  
        
      
    </div>
  
    </div>
  
                
                
                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="../project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="../maven-reports.html">Project Reports</a>
                    </small>
                    
					
                    
                    
                      
                      
                    
                      
                      
                    
                      
                      
                    
                      
                      
                    
                      
                      
                    
                    
                    
                    
                  </div>
                  
                    
                  
                  
                </div>
              
              
                
                
                
                
              
                
              </div>
            </td>
            <td rowspan="2">
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Cornerstone - Developer Info">Cornerstone - Developer Info</a>
        </h3>
      
      
    <div class="h4">
      
      
        <h4>
          <a name="Build Instructions">Build Instructions</a>
        </h4>
      
      
    <p>
      
The cornerstone repository has been restructured to support the seperation
of components, and for each component - the seperation of api relative to 
implemetation builds.

    </p>
   
    <p>
      
Components subprojects include:

    </p>
   
    <div id="source">
      <pre>
   connection-api
   connection-impl

   datasources-api
   datasources-impl

   scheduler-api
   scheduler-impl

   sockets-api
   sockets-impl

   store-api
   store-impl

   threads-api
   threads-impl
   threads-tutorial
</pre>
    </div>
  
    <p>
      
The entire suite can be built as follows:

    </p>
   
    <div id="source">
      <pre>
  $ cd avalon-components
  $ maven
</pre>
    </div>
  
    <p>
      
The default target will build, jar and install the component into 
your local maven repository followind by the generation of the 
project documetation under the following directory:

    </p>
   
    <div id="source">
      <pre>
  avalon-components/site/target/docs
</pre>
    </div>
  
    </div>
  
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" style="width:100%" cellpadding="4" cellspacing="0">
            
            <tr>
              <td>
                
                  
                    
                    
                      © 1997-2004, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  