
  

  
  

  
  

  

  
  

  
  

  
  

  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      

  
  

  
  

   
   


    
	
	

    
    
      
	
	
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          CVS
        
          </title>
        
        
        
        <style type="text/css">
          @import url("./style/tigris.css");
          @import url("./style/maven.css");
        </style>
        
        
        
        
        
        <link rel="stylesheet" href="./style/print.css" type="text/css" media="print"></link>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
        
        
        
        
      </head>

      <body class="composite">

        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td></td>
              

            </tr>
          </table>
        </div>
        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="http://apache.org/">Apache</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/">Avalon</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/framework/">Framework</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/containers/">Merlin</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/components/">Planet</a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>
        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="20%" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="index.html">Overview</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="components/index.html">Components</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="examples/index.html">Examples</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="notes/index.html">Developer Info</a>
      	
      </small>
	  
        
      
    </div>
  
    </div>
  
    <div>
      <strong>Related Projects</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/meta">Avalon Meta</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/framework">Avalon Framework</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/merlin">Avalon Merlin</a>
      	
      </small>
	  
        
      
    </div>
  
    </div>
  
                
                
                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="./project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                        <div>
                          <small>
                            <a href="./mail-lists.html">Mailing Lists</a>
                          </small>
                        </div>
                        <div>
                          <small>
                            <a href="./team-list.html">Project Team</a>
                          </small>
                        </div>
                        <div>
                          <small>
                            <a href="./dependencies.html">Dependencies</a>
                          </small>
                        </div>
                        
                          <div>
                            <small>
                              <a href="./cvs-usage.html">Source Repository</a>
                            </small>
                          </div>
                        
                        
                          <div>
                            <small>
                              <a href="./issue-tracking.html">Issue Tracking</a>
                            </small>
                          </div>
                        
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="./maven-reports.html">Project Reports</a>
                    </small>
                    
					
                    
                    
                      
                      
                    
                      
                      
                    
                      
                      
                    
                      
                      
                    
                      
                      
                    
                    
                    
                    
                  </div>
                  
                    
                  
                  
                </div>
              
              
                
                
                
                
              
                
              </div>
            </td>
            <td rowspan="2">
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Web Access">Web Access</a>
        </h3>
      
      
    <p>
      
          
    <a href="http://cvs.apache.org/viewcvs/avalon-components/">http://cvs.apache.org/viewcvs/avalon-components/</a>
  
        
    </p>
   
    </div>
  
    <div class="h3">
      
      
        <h3>
          <a name="Anonymous CVS Access">Anonymous CVS Access</a>
        </h3>
      
      
    <p>
      
          This project's CVS repository can be checked out through anonymous (pserver)
          CVS with the following instruction set.
          When prompted for a password for anonymous, simply press the Enter key.
        
    </p>
   
    <p>
      
          cvs -d :pserver:anoncvs@cvs.apache.org:/home/cvspublic login
          
    <br>
      
    </br>
   
          cvs -z3 -d :pserver:anoncvs@cvs.apache.org:/home/cvspublic co avalon-components
        
    </p>
   
    <p>
      
          Updates from within the module's directory do not need the -d parameter.
        
    </p>
   
    </div>
  
    <div class="h3">
      
      
        <h3>
          <a name="CVS Access behind a firewall">CVS Access behind a firewall</a>
        </h3>
      
      
    <p>
      
          For those developers who are stuck behind a corporate
          firewall, 
    <a href="http://cvsgrab.sourceforge.net/">CVSGrab</a>
  
          can use the viewcvs web interface to checkout the source code.
        
    </p>
   
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" style="width:100%" cellpadding="4" cellspacing="0">
            
            <tr>
              <td>
                
                  
                    
                    
                      © 1997-2004, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  