
  

  
  

  
  

  

  
  

  
  

  
  

  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      

  
  

  
  

   
   


    
	
	

    
    
      
	
	
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          File Activity Analysis
        
          </title>
        
        
        
        <style type="text/css">
          @import url("./style/tigris.css");
          @import url("./style/maven.css");
        </style>
        
        
        
        
        
        <link rel="stylesheet" href="./style/print.css" type="text/css" media="print"></link>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
        
        
        
        
      </head>

      <body class="composite">

        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td></td>
              

            </tr>
          </table>
        </div>
        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="http://apache.org/">Apache</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/">Avalon</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/framework/">Framework</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/containers/">Merlin</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/components/">Planet</a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>
        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="20%" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="index.html">Overview</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="components/index.html">Components</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="examples/index.html">Examples</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="notes/index.html">Developer Info</a>
      	
      </small>
	  
        
      
    </div>
  
    </div>
  
    <div>
      <strong>Related Projects</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/meta">Avalon Meta</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/framework">Avalon Framework</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/merlin">Avalon Merlin</a>
      	
      </small>
	  
        
      
    </div>
  
    </div>
  
                
                
                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="./project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="./maven-reports.html">Project Reports</a>
                    </small>
                    
					
                    
                    
                      
                      
                    
                      
                      
                    
                      
                      
                      
                      
                    
                      
                      
                    
                      
                      
                    
                    
                    
                    
                      
                        <div>
                          <small>
                            <a href="./changelog-report.html">
                              Change Log
                            </a>
                          </small>
                        </div>
                      
                        <div>
                          <small>
                            <a href="./developer-activity-report.html">
                              Developer Activity
                            </a>
                          </small>
                        </div>
                      
                        <div>
                          <small>
                            <a href="./file-activity-report.html">
                              File Activity
                            </a>
                          </small>
                        </div>
                      
                        <div>
                          <small>
                            <a href="./license.html">
                              Project License
                            </a>
                          </small>
                        </div>
                      
                        <div>
                          <small>
                            <a href="./linkcheck.html">
                              Link Check Report
                            </a>
                          </small>
                        </div>
                      
                    
                  </div>
                  
                    
                  
                  
                </div>
              
              
                
                
                
                
              
                
              </div>
            </td>
            <td rowspan="2">
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Activity by File">Activity by File</a>
        </h3>
      
      
    <p>
      Timeframe: 30 days, Total Commits: 2 Total Number of Files Changed: 51
    </p>
   
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
        
      
      
    

    
    <tr class="b">
    <th>
      File Name
    </th>
   
    <th>
      Number of times changed
    </th>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/connection/api/project.xml">connection/api/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/connection/impl/conf/block.xml">connection/impl/conf/block.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/connection/impl/project.xml">connection/impl/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/datasources/api/project.xml">datasources/api/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/datasources/impl/conf/block.xml">datasources/impl/conf/block.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/datasources/impl/project.xml">datasources/impl/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/project.xml">project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/scheduler/api/project.xml">scheduler/api/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/scheduler/impl/conf/block.xml">scheduler/impl/conf/block.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/scheduler/impl/project.xml">scheduler/impl/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/sockets/impl/conf/block.xml">sockets/impl/conf/block.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/sockets/impl/project.xml">sockets/impl/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/store/api/project.xml">store/api/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/store/impl/conf/block.xml">store/impl/conf/block.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/store/impl/project.xml">store/impl/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/threads/api/project.xml">threads/api/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/threads/impl/conf/block.xml">threads/impl/conf/block.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/threads/impl/project.xml">threads/impl/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/threads/tutorial/conf/block.xml">threads/tutorial/conf/block.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/threads/tutorial/project.xml">threads/tutorial/project.xml</a>
  
          
    </td>
   
    <td>
      2
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/maven.xml">maven.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/etc/NOTICE.TXT">site/etc/NOTICE.TXT</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/xdocs/components/connection.xml">site/xdocs/components/connection.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/xdocs/components/datasource.xml">site/xdocs/components/datasource.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/xdocs/components/index.xml">site/xdocs/components/index.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/xdocs/components/scheduler.xml">site/xdocs/components/scheduler.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/xdocs/components/sockets.xml">site/xdocs/components/sockets.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/xdocs/components/store.xml">site/xdocs/components/store.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/site/xdocs/components/threads.xml">site/xdocs/components/threads.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/sockets/api/project.xml">sockets/api/project.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
            
    <a href="http://cvs.apache.org/viewcvs/avalon-components/threads/tutorial/conf/demo.xml">threads/tutorial/conf/demo.xml</a>
  
          
    </td>
   
    <td>
      1
    </td>
   </tr>
  
    </table>
  
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" style="width:100%" cellpadding="4" cellspacing="0">
            
            <tr>
              <td>
                
                  
                    
                    
                      © 1997-2004, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  