
  

  
  

  
  

  

  
  

  
  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      


  
  

   
   



    <!DOCTYPE html PUBLIC "-//CollabNet//DTD XHTML 1.0 Transitional//EN" "http://www.collabnet.com/dtds/collabnet_transitional_10.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          Project Reports
        
          </title>
        
        
        
        
        
        <style type="text/css">
          @import url("./style/tigris.css");
          @import url("./style/maven.css");
          @import url("./style/osm.css");
        </style>
        
        <link rel="stylesheet" href="./style/print.css" type="text/css" media="print"></link>
        
      </head>

      <body marginwidth="0" class="composite" marginheight="0">
        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td>
                <div id="login" align="right">
                  <a href="http://apachecon.com/2003/US/index.html">
                    <img border="0" src="http://www.apache.org/~ceki/ac2003/ac2003-150.gif"></img>
                  </a>
                </div>
              </td>


              
              
            </tr>
          </table>
        </div>

        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="
        http://apache.org/
      ">
        Apache
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/
      ">
        Avalon
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/framework/
      ">
        Framework
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/containers/
      ">
        Containers
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/components/
      ">
        Components
      </a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>

        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="200" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    <div>
      
      
      <small><a href="index.html">Overview</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="components/index.html">Components</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="examples/index.html">Examples</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="notes/index.html">Developer Info</a></small>
      
    </div>
  
    </div>
  
                

                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="./project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="./maven-reports.html">Project Reports</a>
                    </small>
                    
                      
                        
                         
                         
                           
                           
                            
                          
                        
                           
                           
                            
                          
                        
                           
                           
                            
                          
                        
                        
                        
                          
                            <div>
                              <small>
                                <a href="./changelog-report.html">
                                  Change Log
                                </a>
                              </small>
                            </div>
                          
                            <div>
                              <small>
                                <a href="./file-activity-report.html">
                                  File Activity
                                </a>
                              </small>
                            </div>
                          
                            <div>
                              <small>
                                <a href="./developer-activity-report.html">
                                  Developer Activity
                                </a>
                              </small>
                            </div>
                          
                        
                      
                      
                    
                  </div>
                  
                  
                  <div>
                    <small>
                      <a href="./license.html">License</a>
                    </small>
                  </div>
                </div>
              
                
              </div>
            </td>
            <td>
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Maven Generated Reports">Maven Generated Reports</a>
        </h3>
      
      
    <p>
      
        This document provides an overview of the various reports that
        are automatically generated by 
        
    <a href="http://maven.apache.org/">
      Maven
    </a>
   .
        Each report is briefly described below.
      
    </p>
   
    <div class="h4">
      
      
        <h4>
          <a name="Overview">Overview</a>
        </h4>
      
      
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
        
      
      
    

    
    <tr class="b">
    <th>
      Document
    </th>
   
    <th>
      Description
    </th>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
    <a href="changelog-report.html">
      Change Log
    </a>
   
    </td>
   
    <td>
      Report on the source control changelog.
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
    <a href="file-activity-report.html">
      File Activity
    </a>
   
    </td>
   
    <td>
      Report on file activity.
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
    <a href="developer-activity-report.html">
      Developer Activity
    </a>
   
    </td>
   
    <td>
      Report on the amount of developer activity.
    </td>
   </tr>
  
    </table>
  
    </div>
  
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" cellpadding="4" cellspacing="0">
            <tr>
              <td>
                
                  
                    
                    
                       2001-2003, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  