<?xml version="1.0"?>

<project 
      name="Avalon Documentation" 
      href="http://jakarta.apache.org/avalon/developing">

      <title>Developing With Avalon</title>
      <body>
  <menu name="About">
    <item name="Book Info" href="index.html"/>
    <item name="Revisions" href="changes.html"/>
  </menu>

  <menu name="Chapters">
    <item name="Overview" href="introduction.html"/>
    <item name="Decomposition" href="decomposing.html"/>
    <item name="Avalon Framework" href="framework.html"/>
    <item name="Using the framework" href="implementing.html"/>
    <item name="Compatibility with Avalon" href="compatiblity.html"/>
    <item name="Conclusion" href="conclusion.html"/>
  </menu>

  <menu name="Printer Friendly">
    <item name="As a PDF" href="developing-with-avalon.pdf"/>
  </menu>
  </body>
</project>


