<?xml version="1.0" encoding="UTF-8"?>
<project href="http://jakarta.apache.org/avalon/excalibur/logger/" name="Excalibur Logger"><title>Excalibur Logger</title><body>


  <menu name="About">
    <item href="index.html" name="Overview"/>
    <item href="http://jakarta.apache.org/avalon/excalibur/index.html" name="Excalibur Home"/>
    <item href="http://jakarta.apache.org/builds/jakarta-avalon-excalibur/release" name="Download"/>
    <item href="api/" name="API Docs"/>

  </menu>

</body></project>
