<container name='%containername%'>

   <classloader>
     <classpath>
       <repository>
         <resource id="avalon-framework:avalon-framework-impl" version="4.1.5"/>
       </repository>
     </classpath>
   </classloader>

    <component name='%virtualservicename%' class='%implementationpackage%.%implementationclass%'/>

</container>
