<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration 
   xmlns:log4j="http://jakarta.apache.org/log4j/" 
   debug="false"
>
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.err"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.FileAppender">
    <param name="File" value="${user.dir}/output.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </layout>
  </appender>
  
  <category name="org.apache.avalon.logging">
    <priority value="DEBUG"/>
  </category>

  <category name="kernel.logger">
    <priority value="WARN"/>
  </category>

  <category name="kernel.logger.test">
    <priority value="DEBUG"/>
  </category>

  <root>
    <appender-ref ref="FILE"/>
  </root>

</log4j:configuration>
 
