
A:link {color: blue}
A:visited {color: lightslategray}
A:active {color: darkred}

BODY 
{
  margin: 0px;
}

.caption { 
  font-size: 70%;
  margin-top: 2px; margin-bottom: 2px;
  text-transform: uppercase
}
.title { 
  font-size: 130%; 
  margin-top: 20px; 
  margin-bottom: 12px;
}
.header-desc { 
  margin-top: 3px; margin-bottom: 3px;
}
.command,.command-gateway { 
  font-size: 80%; 
  margin-left: 6px; 
  margin-top: 1px; 
  margin-bottom: 1px;
  text-transform: uppercase
}
.command-gateway { 
  margin-right: 24px; 
}
.banner { 
  margin-top: 3px; margin-bottom: 3px;
}
.error { 
  font-size: 70%; 
  margin-top: 0px; 
  margin-bottom: 0px;
}

.table-row { 
  margin-top: 3px; margin-bottom: 3px;
}

P{
  font-size: 10pt; 
  font-family: verdana; color: black;  
  margin-left: 3px; 
  margin-right: 3px; 
}
			
.page-title-text { 
  color: #FFFFFF;  
  margin: 3px 5px 5px 3px;
  font-size: large; 
  font-family: Verdana, Arial, Helvetica, sans-serif
}
