<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.apache.metro.studio.launch"
   name="MetroStudio Launch"
   version="0.1.1"
   provider-name="Apache Software Foundation"
   class="org.apache.metro.studio.eclipse.launch.MetroStudioLaunch">

   <runtime>
      <library name="MetroStudioLaunch.jar">
         <export name="*"/>
      </library>
      <library name="lib/merlin-cli-3.3.0.jar"/>
      <library name="lib/avalon-framework-api-4.2.0.jar"/>
      <library name="lib/avalon-framework-impl-4.2.0.jar"/>
      <library name="lib/avalon-meta-api-1.4.0.jar"/>
      <library name="lib/avalon-meta-spi-1.4.0.jar"/>
      <library name="lib/avalon-meta-impl-1.4.0.jar"/>
      <library name="lib/avalon-meta-tools-1.4.0.jar"/>
      <library name="lib/qdox-1.4.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.apache.metro.studio.core"/>
      <import plugin="org.junit"/>
   </requires>

   <extension
         id="merlinBuilder"
         name="Merlin Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.apache.metro.studio.eclipse.launch.builder.MerlinBuilderFactory">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            name="MetroServerConfiguration"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            delegate="org.apache.metro.studio.eclipse.launch.config.MetroLaunchConfigurationDelegate"
            modes="run, debug"
            id="org.apache.metro.studio.launch.metroLaunchConfigurationDelegate">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/merlin_light.gif"
            configTypeID="org.apache.metro.studio.launch.metroLaunchConfigurationDelegate"
            id="org.apache.metro.studio.launch.metroLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Metro Block"
            icon="icons/merlin_light.gif"
            class="org.apache.metro.studio.eclipse.launch.config.MetroLaunchShortcut"
            modes="run, debug"
            id="org.apache.metro.studio.eclipse.launch.config.metroLaunchShortcut">
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>

</plugin>
