<?xml version="1.0" encoding="UTF-8"?>
<instrument-client-state>
<frame divider-location="285" y="6" x="73" height="636" width="935" last-divider-location="286"/>
<connection host="localhost" port="16000">
<maintained-sample description="Each Second" type="maximum" lease-duration="600000" interval="1000" size="600" instrument-name="component-manager.plant-service.references"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="component-manager.plant-service.gets"/>
<maintained-sample description="Each Second" type="maximum" lease-duration="600000" interval="1000" size="600" instrument-name="datasources.kurita.references"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="query-pools.kurita-query.pool.puts"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="datasources.kurita.gets"/>
<maintained-sample description="Each Second" type="maximum" lease-duration="600000" interval="1000" size="600" instrument-name="query-pools.kurita-query.pool.size"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="query-pools.kurita-query.pool.creates"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="query-pools.kurita-query.pool.blocks"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="kurita.pool.gets"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="component-manager.plant-service.puts"/>
<maintained-sample description="Min Each Second" type="minimum" lease-duration="600000" interval="1000" size="600" instrument-name="trend-summary-service.snapshot_query_time"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="plant-service.loads"/>
<maintained-sample description="Menu Generated: maximum.1000.600" type="maximum" lease-duration="600000" interval="1000" size="600" instrument-name="trend-summary-service.snapshot_query_time"/>
<maintained-sample description="Mean Each Second" type="mean" lease-duration="600000" interval="1000" size="600" instrument-name="trend-summary-service.snapshot_query_time"/>
<maintained-sample description="Each Second" type="counter" lease-duration="600000" interval="1000" size="600" instrument-name="query-pools.kurita-query.pool.gets"/>
<maintained-sample description="Each Second" type="maximum" lease-duration="600000" interval="1000" size="600" instrument-name="kurita.pool.size"/>
</connection>
<inner-frame sample="trend-summary-service.snapshot_query_time.minimum.1000.600" type="sample-frame" y="238" host="localhost" x="24" height="120" width="600" port="16000"/>
<inner-frame sample="trend-summary-service.snapshot_query_time.mean.1000.600" type="sample-frame" y="118" host="localhost" x="24" height="120" width="600" port="16000"/>
<inner-frame sample="trend-summary-service.snapshot_query_time.maximum.1000.600" type="sample-frame" y="-2" host="localhost" x="24" height="120" width="600" port="16000"/>
<inner-frame sample="plant-service.loads.counter.1000.600" type="sample-frame" y="0" host="localhost" x="0" height="120" width="600" port="16000"/>
<inner-frame sample="datasources.kurita.gets.counter.1000.600" type="sample-frame" y="111" host="localhost" x="2" height="120" width="600" port="16000"/>
<inner-frame sample="datasources.kurita.references.maximum.1000.600" type="sample-frame" y="222" host="localhost" x="3" height="120" width="600" port="16000"/>
<inner-frame sample="kurita.pool.gets.counter.1000.600" type="sample-frame" y="333" host="localhost" x="2" height="120" width="600" port="16000"/>
<inner-frame sample="kurita.pool.size.maximum.1000.600" type="sample-frame" y="446" host="localhost" x="2" height="120" width="600" port="16000"/>
</instrument-client-state>
