RedirectMatch ^/apps(.*) http://avalon.apache.org/phoenix/applications.html
RedirectMatch ^/sandbox/meta(.*) http://avalon.apache.org/meta
RedirectMatch ^/sandbox/merlin(.*) http://avalon.apache.org/merlin
RedirectMatch ^/sandbox/api(.*) http://avalon.apache.org/merlin/api
RedirectMatch ^/cornerstone(.*) http://avalon.apache.org/components
RedirectMatch ^/fortress(.*) http://avalon.apache.org/excalibur/fortress$1
RedirectMatch ^/excalibur/compatibility(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/component(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/datasource(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/event(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/extension(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/instrument(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/lifecycle(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/logger(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/monitor(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/pool(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/sourceresolve(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/store(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/thread(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/excalibur/xfc(.*) http://avalon.apache.org/excalibur/no-docs-available.html
RedirectMatch ^/downloads.cgi(.*) http://avalon.apache.org/download.cgi$1


