# -----------------------------------------------------------------------------
# ant.properties.sample
#
# This is an example ".ant.properties" file, used to customize building Phoenix
# for your local environment.  It defines the location of all external
# modules that Phoenix depends on.  Copy this file to ".ant.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id: ant.properties.sample,v 1.5 2001/12/08 11:40:33 donaldp Exp $
# -----------------------------------------------------------------------------

# ----- Compile Environment Flags -----
#build.compiler=jikes #uncomment to use the jikes compiler

# ----- Compile Control Flags -----
build.debug=on
build.deprecation=off
build.optimize=on

# ----- Default Base Path for Dependent Packages -----
base.path=/usr/local

# ----- Xerces XML Parser, version 1.4.3 or later -----
#xerces.home=${base.path}/xerces-1_4_3
#xerces.lib=${xerces.home}
#xerces.jar=${xerces.lib}/xerces.jar

# ----- Java Service Wrapper, version 2.2.2 or later -----
#wrapper.home=${base.path}/wrapper_linux_2.2.2
#wrapper.jar=${wrapper.home}/lib/wrapper.jar
#wrapper.exe=${wrapper.home}/bin/wrapper
#wrapper.dll=${wrapper.home}/lib/linux/libwrapper.so

# ----- Java Management Extensions (JMX) RI, version 1.0.1 or later -----
jmx.home=${base.path}/jmx-ri_1.0.1/jmx
jmx.lib=${jmx.home}/lib
jmxri.jar=${jmx.lib}/jmxri.jar
jmxtools.jar=${jmx.lib}/jmxtools.jar

# ----- Javac tools.jar -----
# The path to tools.jar, required for building the docs. Most people won't need
# to set this, unless $JRE_HOME is not equal to $JAVA_HOME/jre. For example, on
# Debian, IBM's j2sdk1.3 .deb puts the JRE in /usr/lib/j2sdk1.3, # and the JDK
# in /usr/lib/j2re1.3, requiring the variable to be set. Note: ${java.home} is
# the JRE home, not $JAVA_HOME.
tools.jar=${java.home}/../j2sdk1.3/lib/tools.jar

# ----- Javac tools.jar -----
# To link to local documentation, run the "dist" target for each project and
# uncomment and customize the following variables.
#avalon.base=${basedir}/dist/docs
#excalibur.base=${basedir}/../jakarta-avalon-excalibur/dist/docs
#phoenix.base=${basedir}/../jakarta-avalon-phoenix/dist/docs
#logkit.base=${basedir}/../jakarta-avalon-logkit/dist/docs
#cornerstone.base=${basedir}/../jakarta-avalon-cornerstone/dist/docs
#testlet.base=${basedir}/../jakarta-avalon-testlet/dist/docs

