# -----------------------------------------------------------------------------
# Global ant.properties.sample
#
# This is an example "ant.properties" file, used to customize the building of
# the component for your local environment.  It defines the location of all
# external modules that the components depend on.  Copy this file to
# "ant.properties" in the source directory, and customize it as needed.
#
# The ant.properties values in this directory will be used when building all
# components. They override properties in component-specific ant.properties
# files.
#
# $Id: ant.properties.sample,v 1.8.2.4 2002/04/05 14:14:25 bloritsch Exp $
# -----------------------------------------------------------------------------


# ----- Compile Control Flags -----
build.debug=on
build.optimize=off
build.deprecation=off

# ----- Base Directory in which all the packages are stored -----
base.path=../../

# --------------------------------------------------
#                REQUIRED LIBRARIES
# --------------------------------------------------

# ----- Xerces -----
xerces.home=${base.path}/jakarta-avalon/tools/lib/
xerces.jar=${xerces.home}/xerces-1.4.4.jar

# ----- XML-APIs -----
xml-apis.home=${base.path}/jakarta-avalon/tools/lib/
xml-apis.jar=${xml-apis.home}/xml-apis.jar

# ----- Xalan -----
xalan.home=${base.path}/jakarta-avalon/tools/lib/
xalan.jar=${xalan.home}/xalan-2.2.0-D13.jar

# ----- Logkit -----
logkit.home=${base.path}/jakarta-avalon-logkit
logkit.lib=${logkit.home}/build/lib
logkit.jar=${logkit.lib}/logkit.jar

# ----- Avalon Framework -----
avalon-framework.home=${base.path}/jakarta-avalon/build/lib
avalon-framework.jar=${avalon-framework.home}/avalon-framework.jar

# ----- Avalon Excalibur -----
excalibur-core.home=${base.path}/jakarta-excalibur-core/all/build/lib
excalibur-core.jar=${excalibur-core.home}/excalibur-core.jar

# ----- Excalibur Collections -----
excalibur-collections.home=${base.path}/jakarta-excalibur-core/collections/build/lib
excalibur-collections.jar=${excalibur-collections.home}/excalibur-collections-1.0.jar

# ----- Excalibur Instrument -----
excalibur-instrument.home=${base.path}/jakarta-excalibur-core/instrument/build/lib
excalibur-instrument.jar=${excalibur-instrument.home}/excalibur-instrument-0.1.jar

# ----- Excalibur Instrument Manager -----
excalibur-instrument-manager.home=${base.path}/jakarta-excalibur-core/instrument-manager/build/lib
excalibur-instrument-manager-interfaces.jar=${excalibur-instrument-manager.home}/excalibur-instrument-manager-interfaces-0.1.jar

# ----- Altrmi -----
excalibur-altrmi.home=${base.path}/jakarta-commons-sandbox/altrmi/dist
excalibur-altrmi-client-impl.jar=${excalibur-altrmi.home}/excalibur-altrmi-client-impl.jar
excalibur-altrmi-client-interfaces.jar=${excalibur-altrmi.home}/excalibur-altrmi-client-interfaces.jar
excalibur-altrmi-server-impl.jar=${excalibur-altrmi.home}/excalibur-altrmi-server-impl.jar
excalibur-altrmi-server-interfaces.jar=${excalibur-altrmi.home}/excalibur-altrmi-server-interfaces.jar
excalibur-altrmi-common.jar=${excalibur-altrmi.home}/excalibur-altrmi-common.jar
excalibur-altrmi-generator.jar=${excalibur-altrmi.home}/excalibur-altrmi-generator.jar

# ----- Java Management Extensions (JMX) RI, version 1.0.1 or later -----
jmx.home=${base.path}/jmx-1_0_1-ri_bin/jmx
jmx.lib=${jmx.home}/lib
jmx.jar=${jmx.lib}/jmxri.jar

# ----- JUnit Unit Test Suite, version 3.7 or later -----
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar



# --------------------------------------------------
#                OPTIONAL LIBRARIES
# --------------------------------------------------

# ----- Checkstyle, version 2.1 or later -----

# Uncomment the 'do.checkstyle' flag property to enable checkstyle
# do.checkstyle=
checkstyle.home=${base.path}/checkstyle-2.1
checkstyle.lib=${checkstyle.home}
checkstyle.jar=${checkstyle.lib}/checkstyle-all-2.1.jar
