# -----------------------------------------------------------------------------
# Component ant.properties.sample
#
# This is an example "ant.properties" file, used to customize the building of
# the component for your local environment.  It defines the location of all
# external modules that this component depend on.  Copy this file to
# "ant.properties" in the source directory, and customize it as needed.
#
# The ant.properties values in this directory apply only to this component.
# It is overridden by ../ant.properties and ~/build.properties
# It overrides all default.properties files and ~/.ant.properties
#
# $Id: ant.properties.sample,v 1.2.2.5 2002/04/06 13:55:04 jefft Exp $
# -----------------------------------------------------------------------------

# ----- Compile Control Flags -----
build.debug=on
build.optimize=off
build.deprecation=off
#build.compiler=jikes

# ----- Base Directory in which all the packages are stored -----
base.path=${basedir}/../..

# --------------------------------------------------
#                REQUIRED LIBRARIES
# --------------------------------------------------

# ----- Logkit -----
avalon-logkit.home=${basedir}/../../jakarta-avalon-logkit
avalon-logkit.lib=${avalon-logkit.home}/build/lib
avalon-logkit.jar=${avalon-logkit.lib}/logkit.jar

# ----- Avalon Framework -----
avalon-framework.home=${basedir}/../../jakarta-avalon
avalon-framework.lib=${avalon-framework.home}/build/lib
avalon-framework.jar=${avalon-framework.lib}/avalon-framework.jar

# ----- Avalon Excalibur -----
excalibur-core.home=${basedir}/../all/build/lib
excalibur-core.jar=${excalibur-core.home}/excalibur-core.jar

# ----- Excalibur Collections -----
excalibur-collections.home=${basedir}/../collections/build/lib
excalibur-collections.jar=${excalibur-collections.home}/excalibur-collections-1.0.jar

# ----- Excalibur Instrument -----
excalibur-instrument.home=${basedir}/../instrument/build/lib
excalibur-instrument.jar=${excalibur-instrument.home}/excalibur-instrument-0.1.jar

# ----- Altrmi -----
excalibur-altrmi.home=${basedir}/../../jakarta-commons-sandbox/altrmi/dist
excalibur-altrmi-common.jar=${excalibur-altrmi.home}/excalibur-altrmi-common.jar
excalibur-altrmi-server-impl.jar=${excalibur-altrmi.home}/excalibur-altrmi-server-impl.jar
excalibur-altrmi-server-interfaces.jar=${excalibur-altrmi.home}/excalibur-altrmi-server-interfaces.jar
# --------------------------------------------------
#                OPTIONAL LIBRARIES
# --------------------------------------------------

# ----- JUnit Unit Test Suite, version 3.7 or later. -----
#  Not needed if junit.jar is in $ANT_HOME/lib 
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar


# ----- Checkstyle, version 2.1 or later -----
# Uncomment the 'do.checkstyle' flag property to enable checkstyle
# do.checkstyle=
checkstyle.home=${base.path}/checkstyle-2.1
checkstyle.lib=${checkstyle.home}
checkstyle.jar=${checkstyle.lib}/checkstyle-all-2.1.jar
