#-----------------------------------------------------------------------------
# Component ant.properties.sample
#
# This is an example "ant.properties" file, used to customize the building of
# the component for your local environment.  It defines the location of all
# external modules that this component depend on.  Copy this file to
# "ant.properties" in the source directory, and customize it as needed.
#
# The ant.properties values in this directory apply only to this component, and
# override the defaults in ../ant.properties.
#
# $Id: ant.properties.sample,v 1.2.2.1 2002/04/01 05:46:12 jefft Exp $
# -----------------------------------------------------------------------------

# --------------------------------------------------
#      COMPONENT-SPECIFIC REQUIRED LIBRARIES
# --------------------------------------------------


# ----- Compile Control Flags -----
build.debug=on
build.optimize=off
build.deprecation=off

# ----- Base Directory in which all the packages are stored -----
base.path=/opt

# --------------------------------------------------
#                REQUIRED LIBRARIES
# --------------------------------------------------

# ----- Logkit -----
logkit.home=../../jakarta-avalon-logkit/build/lib
logkit.jar=${logkit.home}/logkit.jar

# ----- Avalon Framework -----
avalon-framework.home=../../jakarta-avalon/build/lib
avalon-framework.jar=${avalon-framework.home}/avalon-framework.jar

# ----- Avalon Excalibur -----
excalibur-core.home=../all/build/lib
excalibur-core.jar=${excalibur-core.home}/excalibur-core.jar

# ----- Excalibur Collections -----
excalibur-collections.home=../collections/build/lib
excalibur-collections.jar=${excalibur-collections.home}/excalibur-collections-1.0.jar

# ----- Excalibur Instrument -----
excalibur-instrument.home=../instrument/build/lib
excalibur-instrument.jar=${excalibur-instrument.home}/excalibur-instrument-0.1.jar

# ----- Altrmi -----
commons-altrmi.home=../../jakarta-commons-sandbox/altrmi/dist
commons-altrmi-common.jar=${commons-altrmi.home}/commons-altrmi-common.jar
commons-altrmi-server-impl.jar=${commons-altrmi.home}/commons-altrmi-server-impl.jar
commons-altrmi-server-interfaces.jar=${commons-altrmi.home}/commons-altrmi-server-interfaces.jar

# ----- JUnit Unit Test Suite, version 3.7 or later -----
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar



# --------------------------------------------------
#                OPTIONAL LIBRARIES
# --------------------------------------------------

# ----- Checkstyle, version 2.1 or later -----

# Uncomment the 'do.checkstyle' flag property to enable checkstyle
# do.checkstyle=
checkstyle.home=${base.path}/checkstyle-2.1
checkstyle.lib=${checkstyle.home}
checkstyle.jar=${checkstyle.lib}/checkstyle-all-2.1.jar
