# -----------------------------------------------------------------------------
# Component ant.properties.sample
#
# This is an example "ant.properties" file, used to customize the building of
# the component for your local environment.  It defines the location of all
# external modules that this component depend on.  Copy this file to
# "ant.properties" in the source directory, and customize it as needed.
#
# The ant.properties values in this directory apply only to this component.
# It is overridden by ../ant.properties and ~/build.properties
# It overrides all default.properties files and ~/.ant.properties
#
# $Id: ant.properties.sample,v 1.1 2003/03/11 13:31:33 bloritsch Exp $
# -----------------------------------------------------------------------------

# --------------------------------------------------
#                REQUIRED LIBRARIES
# --------------------------------------------------

# ----- Avalon Framework -----
#avalon-framework.home=${basedir}/../../avalon
#avalon-framework.lib=${avalon-framework.home}/target/lib
#avalon-framework.jar=${avalon-framework.lib}/avalon-framework.jar
