<?xml version="1.0"?>

<project href="http://jakarta.apache.org/avalon/excalibur/"
	Name="Excalibur">
  <title>Excalibur Documentation</title>
  <body>

  <menu name="About">
    <item name="Overview" href="index.html"/>
    <item name="Changes" href="changes.html"/>
    <item name="Download" href="http://jakarta.apache.org/builds/jakarta-avalon/release/excalibur"/>
  </menu>

  <menu name="Containers">
    <item name="Component" href="component/index.html"/>
    <item name="Fortress" href="fortress/index.html"/>
    <item name="Merlin" href="merlin/index.html"/>
    <item name="Tweety" href="tweety/index.html"/>
  </menu>

  <menu name="Components">
    <item name="Cache" href="cache/index.html"/>
    <item name="DataSource" href="datasource/index.html"/>
    <item name="Monitor" href="monitor/index.html"/>
    <item name="XMLBundle" href="xmlbundle/index.html"/>
  </menu>

  <menu name="Resource Managers">
    <item name="Event" href="event/index.html"/>
    <item name="Logger" href="logger/index.html"/>
    <item name="Testcase" href="testcase/index.html"/>
  </menu>

  <menu name="Testing and Analysis">
    <item name="Instrumentation" href="instrument/index.html"/>
    <item name="Component Testing Harness" href="testcase/index.html"/>
  </menu>
  
  <menu name="Utilities">
    <item name="AltRMI" href="altrmi/index.html"/>
    <item name="BZip2" href="bzip2/index.html"/>
    <item name="Baxter" href="baxter/index.html"/>
    <item name="CLI" href="cli/index.html"/>
    <item name="Collections" href="collections/index.html"/>
    <item name="Configuration" href="configuration/index.html"/>
    <item name="Concurrent" href="concurrent/index.html"/>
    <item name="Extension" href="extension/index.html"/>
    <item name="I/O" href="io/index.html"/>
    <item name="Internationalization" href="i18n/index.html"/>
    <item name="Naming" href="naming/index.html"/>
    <item name="Pool" href="pool/index.html"/>
    <item name="Source Resolver" href="sourceresolve/index.html"/>
    <item name="TAR" href="tar/index.html"/>
    <item name="Thread" href="thread/index.html"/>
    <item name="Util" href="util/index.html"/>
    <item name="ZIP" href="zip/index.html"/>
  </menu>
  </body>
</project>
