<?xml version="1.0"?>

<project href="http://jakarta.apache.org/avalon/excalibur/"
	Name="Excalibur">
  <title>Excalibur Documentation</title>
  <body>

  <menu name="About">
    <item name="Overview" href="index.html"/>
    <item name="Changes" href="changes.html"/>
    <item name="Download" href="http://jakarta.apache.org/builds/jakarta-avalon/release/excalibur"/>
  </menu>

  <menu name="Containers">
    <item name="Component" href="http://a/component/index.html"/>
    <item name="Fortress" href="http://a/fortress/index.html"/>
    <item name="Merlin" href="http://a/merlin/index.html"/>
    <item name="Tweety" href="http://a/tweety/index.html"/>
  </menu>

  <menu name="Components">
    <item name="Cache" href="http://a/cache/index.html"/>
    <item name="DataSource" href="http://a/datasource/index.html"/>
    <item name="Monitor" href="http://a/monitor/index.html"/>
    <item name="XMLBundle" href="http://a/xmlbundle/index.html"/>
  </menu>

  <menu name="Resource Managers">
    <item name="Event" href="http://a/event/index.html"/>
    <item name="Logger" href="http://a/logger/index.html"/>
    <item name="Testcase" href="http://a/testcase/index.html"/>
  </menu>

  <menu name="Testing and Analysis">
    <item name="Instrumentation" href="http://a/instrument/index.html"/>
    <item name="Component Testing Harness" href="http://a/testcase/index.html"/>
  </menu>
  
  <menu name="Utilities">
    <item name="AltRMI" href="http://a/altrmi/index.html"/>
    <item name="BZip2" href="http://a/bzip2/index.html"/>
    <item name="Baxter" href="http://a/baxter/index.html"/>
    <item name="CLI" href="http://a/cli/index.html"/>
    <item name="Collections" href="http://a/collections/index.html"/>
    <item name="Configuration" href="http://a/configuration/index.html"/>
    <item name="Concurrent" href="http://a/concurrent/index.html"/>
    <item name="Extension" href="http://a/extension/index.html"/>
    <item name="I/O" href="http://a/io/index.html"/>
    <item name="Internationalization" href="http://a/i18n/index.html"/>
    <item name="Logger" href="http://a/logger/index.html"/>
    <item name="Naming" href="http://a/naming/index.html"/>
    <item name="Pool" href="http://a/pool/index.html"/>
    <item name="Source Resolver" href="http://a/sourceresolve/index.html"/>
    <item name="TAR" href="http://a/tar/index.html"/>
    <item name="Thread" href="http://a/thread/index.html"/>
    <item name="Util" href="http://a/util/index.html"/>
    <item name="ZIP" href="http://a/zip/index.html"/>
  </menu>
  </body>
</project>
