<html>
<head><title>Create a X</title></head>
<body bgcolor="#ffffff">
<center>

<h2>Create a X</h2>
<br />

<form>

<table cellspacing="0" cellpadding="5" width="100%" border="1">
  <tr>
    <td align="right">X Name</td>
    <td align="left">
      <input type="text" value="name 1" size="50"></input>
    </td>
  </tr>
  <tr>
    <td align="right">String Attribute 1</td>
    <td align="left">
      <input type="text" value="Some string value" size="50"></input>
    </td>
  </tr>
  <tr>
    <td align="right">Boolean Attribute 2</td>
    <td align="left">
      <input type="checkbox" checked="true"/>
    </td>
  </tr>
  <tr>
    <td align="right">File upload</td>
    <td align="left">
      <input type="file" size="50"></input>
    </td>
  </tr>
</table>

<br />

<input type="submit" value="Create X"/>

</form>
</center>

</body>
</html>
