<html>
<head><title>Query Xs</title></head>
<body bgcolor="#ffffff">
<center>

<h2>Query Xs</h2>
<br />

<form>

<table cellspacing="0" cellpadding="5" width="100%" border="1">
  <tr>
    <td align="center">Attribte</td>
    <td align="center">Relation</td>
    <td align="center">Value</td>
    <td></td>
  </tr>
  <tr>
    <td align="right">
      <select name="server" size="1">
        <option selected="true">Attribute 1</option>
        <option>Attribute 2</option>
        <option>Attribute 3</option>
        <option>Attribute 4</option>
      </select>
    </td>
    <td align="left">
      <select size="1">
        <option selected="true">Contains</option>
        <option>Equals</option>
      </select>
    </td>
    <td align="left">
      <input type="text" value="value1" size="50"></input>
    </td>
    <td><input type="button" value="Remove"/></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><input type="button" value="Add Criterion" /></td>
  </tr>
</table>

<br />

<input type="submit" value="Query Xs" onClick="location='table.html';return false"/>

</form>
</center>

</body>
</html>
