<?xml version="1.0" encoding="UTF-8"?>
<document>

  <properties>
    <author email="dev@avalon.apache.org">Avalon Documentation Team</author>
    <title>Avalon Central</title>
  </properties> 

  <body>
    <section name="Plugin Task">
      <p>
      The plugin task is to some extent an internal magic task.  During 
      initilization of a magic project definition, any plugins declared under 
      a &lt;plugins&gt; element are automatically loaded and installed using
      the plugin task.  However - the plugin task can be used outside of the
      formal project structural definition.
      </p>
      <p>
      The plugin task locates plugin meta-data, and from that data, creates 
      a classloader, loads the pluging from the repository, and declares to ant
      any tasks that the plugin declares.  In addition, any listeners declared 
      by the plugin meta are registered with the current project. 
      </p>
<source><![CDATA[
<x:plugin artifact="plugin:avalon/meta/avalon-meta-tools#1.4.0"/>
]]></source>
      <p>
      Plugins referenced by the plugin task should use the 
      <a href="prepare.html">declare</a> task to genrate and register the 
      appropriate plugin meta-data. 
      </p>

    </section>
  </body>

</document>

