# -----------------------------------------------------------------------------
# Component ant.properties.sample
#
# This is an example "ant.properties" file, used to customize the building of
# the component for your local environment.  It defines the location of all
# external modules that this component depend on.  Copy this file to
# "ant.properties" in the source directory, and customize it as needed.
#
# The ant.properties values in this directory apply only to this component.
# It is overridden by ../ant.properties and ~/build.properties
# It overrides all default.properties files and ~/.ant.properties
#
# $Id: ant.properties.sample,v 1.3 2002/10/15 06:45:16 froehlich Exp $
# -----------------------------------------------------------------------------

# ----- Compile Control Flags -----
build.debug=on
build.optimize=off
build.deprecation=off
#build.compiler=jikes

# ----- Base Directory in which all the packages are stored -----
base.path=${basedir}/../..

# --------------------------------------------------
#                REQUIRED LIBRARIES
# --------------------------------------------------

# ----- Avalon Framework, version 4.1 or later -----
avalon-framework.home=${basedir}/../../jakarta-avalon
avalon-framework.lib=${avalon-framework.home}/build/lib
avalon-framework.jar=${avalon-framework.lib}/avalon-framework.jar

# ----- Jisp 2.0.1 -----
jisp.jar=lib/Jisp2.0.1.jar

# --------------------------------------------------
#                OPTIONAL LIBRARIES
# --------------------------------------------------

# ----- JUnit Unit Test Suite, version 3.7 or later. -----
#  Not needed if junit.jar is in $ANT_HOME/lib 
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar


# ----- Checkstyle, version 2.1 or later -----
# Uncomment the 'do.checkstyle' flag property to enable checkstyle
# do.checkstyle=
checkstyle.home=${base.path}/checkstyle-2.1
checkstyle.lib=${checkstyle.home}
checkstyle.jar=${checkstyle.lib}/checkstyle-all-2.1.jar
