<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <listener>
    <listener-class>org.apache.avalon.examples.fortress.FortressServletLauncher</listener-class>
  </listener>
  <servlet>
    <servlet-name>fortress</servlet-name>
    <servlet-class>org.apache.avalon.examples.fortress.FortressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fortress</servlet-name>
    <url-pattern>/fortress</url-pattern>
  </servlet-mapping>
</web-app>
