

<container>

   <classloader>
     <classpath>
       <!-- 
       <repository>
         <resource id="avalon-framework:avalon-framework-impl" version="4.1.5"/>
       </repository>
       -->
       <fileset dir="ext">
         <include>test-a.jar</include>
       </fileset>
     </classpath>
   </classloader>

   <component name="test-a" class="org.apache.avalon.composition.model.testa.TestA">
     <context class="org.apache.avalon.composition.model.testa.DefaultFacade">
       <entry key="home">
         <constructor class="java.io.File">
           <param class="java.io.File">${urn:avalon:home}</param>
           <param>xxx</param>
         </constructor>
       </entry>
       <entry key="time">
         <constructor class="java.util.Date"/>
       </entry>
       <entry key="path">
         <import key="urn:avalon:partition"/>
       </entry>
     </context>
   </component>

</container>
