# This file is a sample ant.properties file used for building Avalon-LogKit. It
# allows variables defined in build.xml to be overridden according to users'
# specific needs. 
#
# One thing it may be useful for is to specify the location of 3rd party jars
# instead of downloading them to the /lib directory.  To do so uncomment and then modify
# the lines below.
#
# Don't forget to rename this file to ant.properties or [user_home]/.ant.properties.
#
# <-- starts a comment

#servletapi.jar=
#mail.jar=
#jms.jar=
#junit.jar=
#jdbc.jar=
#log4j.jar=
