# This file is a sample .ant.properties file used for building Avalon. It
# allows variables defined in build.xml to be overridden according to users'
# specific needs. As build.xml has sensible defaults, this file's use is only
# required for those with unusual systems. However it also allows some nice
# documentation tweaks, so is worth reviewing.
#
# Modify it for your own needs and copy it to .ant.properties 
#
# <-- starts a comment

# If you want to use the better than average jikes compiler, uncomment the next
# line
#build.compiler=jikes

# To link to local documentation, run the "dist" target for each project and
# uncomment and customize the following variables.
#avalon.base=${basedir}/dist/docs
#excalibur.base=${basedir}/../avalon-excalibur/dist/docs
#phoenix.base=${basedir}/../avalon-phoenix/dist/docs
#logkit.base=${basedir}/../avalon-logkit/dist/docs
#cornerstone.base=${basedir}/../avalon-cornerstone/dist/docs
#testlet.base=${basedir}/../avalon-testlet/dist/docs

# The path to tools.jar, required for building the docs. Most people won't need
# to set this, unless $JRE_HOME is not equal to $JAVA_HOME/jre. For example, on
# Debian, IBM's j2sdk1.3 .deb puts the JRE in /usr/lib/j2sdk1.3, # and the JDK
# in /usr/lib/j2re1.3, requiring the variable to be set. Note: ${java.home} is
# the JRE home, not $JAVA_HOME.
#tools.jar=${java.home}/../j2sdk1.3/lib/tools.jar

#
# This file is also useful for specifying the location of 3rd party jars
# instead of downloading them to the /lib directory.  To do so uncomment and then modify
# the lines below.
#
#junit.jar=
#log4j.jar=
#logkit.jar=
