# -----------------------------------------------------------------------------
# Component ant.properties.sample
#
# This is an example "ant.properties" file, used to customize the building of
# the component for your local environment.  It defines the location of all
# external modules that this component depend on.  Copy this file to
# "ant.properties" in the source directory, and customize it as needed.
#
# The ant.properties values in this directory apply only to this component.
# It is overridden by ../ant.properties and ~/build.properties
# It overrides all default.properties files and ~/.ant.properties
#
# $Id: ant.properties.sample,v 1.2 2002/09/30 22:03:11 hammant Exp $
# -----------------------------------------------------------------------------

# ----- Compile Control Flags -----
build.debug=on
build.optimize=off
build.deprecation=off

# --------------------------------------------------
#                REQUIRED LIBRARIES
# --------------------------------------------------


# ----- Checkstyle, version 2.3 -----
# Uncomment the 'do.checkstyle' flag property to enable checkstyle
do.checkstyle=
checkstyle.home=../../checkstyle-2.3
checkstyle.lib=${checkstyle.home}
checkstyle.jar=${checkstyle.lib}/checkstyle-all-2.3.jar

# -----------------------------------------------------------------------------
#                 CATALINA SEVAK PROPERTIES
#  Uncomment catalina-zip-suffix to build using JDK 1.4 LE
#  (lightweight binary distribution of Tomcat 4, designed to be run on JDK 1.4.)
# -----------------------------------------------------------------------------
#catalina-zip-suffix=-LE-jdk14

