
  

  
  

  
  

  

  
  

  
  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      


  
  

   
   



    <!DOCTYPE html PUBLIC "-//CollabNet//DTD XHTML 1.0 Transitional//EN" "http://www.collabnet.com/dtds/collabnet_transitional_10.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          Cornerstone Thread Manager
        
          </title>
        
        
        
        
        
        <style type="text/css">
          @import url("../style/tigris.css");
          @import url("../style/maven.css");
          @import url("../style/osm.css");
        </style>
        
        <link rel="stylesheet" href="../style/print.css" type="text/css" media="print"></link>
        
          <meta name="author" value="Stephen McConnell"></meta>
          <meta name="email" value="mcconnell@apache.org"></meta>
        
      </head>

      <body marginwidth="0" class="composite" marginheight="0">
        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td>
                <div id="login" align="right">
                  <a href="http://apachecon.com/2003/US/index.html">
                    <img border="0" src="http://www.apache.org/~ceki/ac2003/ac2003-150.gif"></img>
                  </a>
                </div>
              </td>


              
              
            </tr>
          </table>
        </div>

        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="
        http://apache.org/
      ">
        Apache
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/
      ">
        Avalon
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/framework/
      ">
        Framework
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/containers/
      ">
        Containers
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/components/
      ">
        Components
      </a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>

        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="200" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    <div>
      
      
      <small><a href="../index.html">Overview</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/index.html">Components</a></small>
      
    <div>
      
      
      <small><a href="../components/connection.html">Connection</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/datasource.html">Datasource</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/scheduler.html">Scheduler</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/sockets.html">Sockets</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/store.html">Store</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/threads.html">Threads</a></small>
      
    </div>
  
    </div>
  
    <div>
      
      
      <small><a href="../examples/index.html">Examples</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../notes/index.html">Developer Info</a></small>
      
    </div>
  
    </div>
  
                

                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="../project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="../maven-reports.html">Project Reports</a>
                    </small>
                    
                      
                        
                         
                         
                           
                           
                        
                           
                           
                        
                           
                           
                        
                        
                        
                      
                      
                    
                  </div>
                  
                  
                  <div>
                    <small>
                      <a href="../license.html">License</a>
                    </small>
                  </div>
                </div>
              
                
              </div>
            </td>
            <td>
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Cornerstone Components">Cornerstone Components</a>
        </h3>
      
      
    <div class="h4">
      
      
        <h4>
          <a name="Index">Index</a>
        </h4>
      
      
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
      
        
      
    

    
    <tr class="a">
    <th>
      Topic
    </th>
   
    <th>
      Description
    </th>
   
    <th>
      Status
    </th>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
    <a href="connection.html">
      Connection
    </a>
   
    </td>
   
    <td>
      
            
    <p>
      
            The ConnectionManager service provides a facility to listen 
            for incoming socket connections.
            The DefaultConnectionManager compoent gives a thread pooled 
            implementation of this service. If there are multiple server 
            components depending on this component, they would all share
            the same thread pool.
            
    </p>
   
          
    </td>
   
    <td>
      CANDIDATE
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
    <a href="datasource.html">
      Deatsource
    </a>
   
    </td>
   
    <td>
      
            
    <p>
      
            The DataSourceSelector service provides a way to select 
            DataSourceComponent.
            The DefaultDataSourceSelector component provides a set of 
            ready to use DataSourceComponents.
            
    </p>
   
          
    </td>
   
    <td>
      CANDIDATE
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
    <a href="scheduler.html">
      Scheduler
    </a>
   
    </td>
   
    <td>
      
           
    <p>
      
           The TimeScheduler service provides a services supporting the 
           scheduling of activities to occur an certain intervals.
           The DefaultTimeScheduler block implements the service. When
           used in conjunction with the service is it a TimeTrigger.  
           There are two such tiggers provided within the implementation
           CronTimeTrigger and PeriodicTimeTigger.
           
    </p>
   
          
    </td>
   
    <td>
      CANDIDATE
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
    <a href="sockets.html">
      Sockets
    </a>
   
    </td>
   
    <td>
      
            
    <p>
      
            The SocketManager service provides a way to lookup a factory 
            for server of client sockets.  This service is provided by the 
            DefaultSocketManager component.
            
    </p>
   
          
    </td>
   
    <td>
      CANDIDATE
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
    <a href="store.html">
      Store
    </a>
   
    </td>
   
    <td>
      
            
    <p>
      
              The Store service provides a way to store named Objects or 
              Streams without knowing how they are stored.
              The RepositoryManager block implements this service and 
              provides (in invocation of select(..) ) an appropriate 
              Respository.  The two configurable implementations use the 
              local file system for storage.
              
    </p>
   
          
    </td>
   
    <td>
      CANDIDATE
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
    <a href="threads.html">
      Threads
    </a>
   
    </td>
   
    <td>
      
            
    <p>
      
            The ThreadManager service provides a way get default or named 
            Thread Pool.
            The DefaultThreadManager block implements this service based on
            the Excalibur implementations of ThreadPool.
            
    </p>
   
          
    </td>
   
    <td>
      CANDIDATE
    </td>
   </tr>
  
    </table>
  
    </div>
  
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" cellpadding="4" cellspacing="0">
            <tr>
              <td>
                
                  
                    
                    
                       2001-2003, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  