
  

  
  

  
  

  

  
  

  
  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      


  
  

   
   



    <!DOCTYPE html PUBLIC "-//CollabNet//DTD XHTML 1.0 Transitional//EN" "http://www.collabnet.com/dtds/collabnet_transitional_10.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          Cornerstone Store
        
          </title>
        
        
        
        
        
        <style type="text/css">
          @import url("../style/tigris.css");
          @import url("../style/maven.css");
          @import url("../style/osm.css");
        </style>
        
        <link rel="stylesheet" href="../style/print.css" type="text/css" media="print"></link>
        
          <meta name="author" value="Stephen McConnell"></meta>
          <meta name="email" value="mcconnell@apache.org"></meta>
        
      </head>

      <body marginwidth="0" class="composite" marginheight="0">
        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td>
                <div id="login" align="right">
                  <a href="http://apachecon.com/2003/US/index.html">
                    <img border="0" src="http://www.apache.org/~ceki/ac2003/ac2003-150.gif"></img>
                  </a>
                </div>
              </td>


              
              
            </tr>
          </table>
        </div>

        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="
        http://apache.org/
      ">
        Apache
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/
      ">
        Avalon
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/framework/
      ">
        Framework
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/containers/
      ">
        Containers
      </a>
      
    
      |
      
      
      <a href="
        http://avalon.apache.org/product/components/
      ">
        Components
      </a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>

        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="200" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    <div>
      
      
      <small><a href="../index.html">Overview</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/index.html">Components</a></small>
      
    <div>
      
      
      <small><a href="../components/connection.html">Connection</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/datasource.html">Datasource</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/scheduler.html">Scheduler</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/sockets.html">Sockets</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/store.html">Store</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../components/threads.html">Threads</a></small>
      
    </div>
  
    </div>
  
    <div>
      
      
      <small><a href="../examples/index.html">Examples</a></small>
      
    </div>
  
    <div>
      
      
      <small><a href="../notes/index.html">Developer Info</a></small>
      
    </div>
  
    </div>
  
                

                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="../project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="../maven-reports.html">Project Reports</a>
                    </small>
                    
                      
                        
                         
                         
                           
                           
                        
                           
                           
                        
                           
                           
                        
                        
                        
                      
                      
                    
                  </div>
                  
                  
                  <div>
                    <small>
                      <a href="../license.html">License</a>
                    </small>
                  </div>
                </div>
              
                
              </div>
            </td>
            <td>
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Cornerstone Components - Datasource">Cornerstone Components - Datasource</a>
        </h3>
      
      
    <div class="h4">
      
      
        <h4>
          <a name="Description">Description</a>
        </h4>
      
      
    <p>
      
          The Store service provides a way to store named Objects or 
          Streams without knowing how they are stored.
          The RepositoryManager block implements this service and 
          provides (in invocation of select(..) ) an appropriate 
          Respository.  The two configurable implementations use the 
          local file system for storage.
        
    </p>
   
    </div>
  
    <div class="h4">
      
      
        <h4>
          <a name="Deployment Facts">Deployment Facts</a>
        </h4>
      
      
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      Containment
    </td>
   
    <td>
      Avalon Framework 4.1.4
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      Lifestyle
    </td>
   
    <td>
      singleton
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      Lifecycle
    </td>
   
    <td>
      
              
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
        
      
      
    

    
    <tr class="b">
    <th>
      Stage
    </th>
   
    <th>
      Description
    </th>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      LogEnabled
    </td>
   
    <td>
      Logs store establishment and 
                runtime related warnings.
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      Contextualizable
    </td>
   
    <td>
      
                  
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
      
        
      
    

    
    <tr class="a">
    <th>
      Key
    </th>
   
    <th>
      Type
    </th>
   
    <th>
      Required
    </th>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      block.name
    </td>
   
    <td>
      java.lang.String
    </td>
   
    <td>
      true
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      app.name
    </td>
   
    <td>
      java.lang.String
    </td>
   
    <td>
      true
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      app.home
    </td>
   
    <td>
      java.io.File
    </td>
   
    <td>
      true
    </td>
   </tr>
  
    </table>
  
                  
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      Configurable
    </td>
   
    <td>
      
                  
    <p>
      Example configuration included below.
    </p>
   
                  
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      Serviceable
    </td>
   
    <td>
      
                  WARNING: Implementated but no dependencies declared!
                  
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      Disposable
    </td>
   
    <td>
      
                  Component disposal.
                  
    </td>
   </tr>
  
    </table>
  
            
    </td>
   </tr>
  
    </table>
  
    </div>
  
    <div class="h4">
      
      
        <h4>
          <a name="Example Configuration">Example Configuration</a>
        </h4>
      
      
    <p>
      
The following example coinfiguration is taken from the 

    <a href="http://james.apache.org/">
      Apache James Project
    </a>
   .

    </p>
   
    <div id="source">
      <pre>
&lt;configuration&gt;
  &lt;repositories&gt;
    &lt;repository
 class="org.apache.james.mailrepository.filepair.File_Persistent_Object_Repository"&gt; 
      &lt;protocols&gt;
        &lt;protocol&gt;file&lt;/protocol&gt;
      &lt;/protocols&gt;
      &lt;types&gt;
        &lt;type&gt;OBJECT&lt;/type&gt;
      &lt;/types&gt;
      &lt;models&gt;
        &lt;model&gt;SYNCHRONOUS&lt;/model&gt;
        &lt;model&gt;ASYNCHRONOUS&lt;/model&gt;
        &lt;model&gt;CACHE&lt;/model&gt;
      &lt;/models&gt;
    &lt;/repository&gt;
    &lt;repository 
class="org.apache.james.mailrepository.filepair.File_Persistent_Stream_Repository"&gt;
      &lt;protocols&gt;
        &lt;protocol&gt;file&lt;/protocol&gt;
      &lt;/protocols&gt;
      &lt;types&gt;
        &lt;type&gt;STREAM&lt;/type&gt;
      &lt;/types&gt;
      &lt;models&gt;
        &lt;model&gt;SYNCHRONOUS&lt;/model&gt;
        &lt;model&gt;ASYNCHRONOUS&lt;/model&gt;
        &lt;model&gt;CACHE&lt;/model&gt;
      &lt;/models&gt;
    &lt;/repository&gt;
  &lt;/repositories&gt;
&lt;/configuration&gt;
</pre>
    </div>
  
    </div>
  
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" cellpadding="4" cellspacing="0">
            <tr>
              <td>
                
                  
                    
                    
                       2001-2003, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  