
#asf
{
    vertical-align: bottom;
    text-align: right;
}

body, td
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, Helvetica, Sans-Serif;
}

table.logobar
{
    background-color: #333333;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

.panelleft
{
    vertical-align: bottom;
    text-align: left;
    border-right: 1px solid #9999FF;
    width: 167px;
    padding: 0;
}

.panelmiddle
{
    vertical-align: bottom;
    text-align: left;
}

.panelright,
{
    vertical-align: bottom;
    text-align: left;
}

.project
{
    display: block;
    font-size: 10pt;
    color: white;
    padding-left: 10px;
}

.title
{
    display: block;
    color: white;
    font-size: 18pt; color: #FFFFFF; 
    padding-left: 3px; 
    padding-right: 3px; 
    padding-top: 2px; 
    padding-bottom: 2px; 
    padding-left: 10px;
}

.categorybar
{
    background-color: #666699;
    color: white;
    border-top: 1px solid #9999FF;
    border-left: 1px solid #9999FF;
    border-right: 1px solid #003399;
    border-bottom: 1px solid #003399;
    display: block;
    height: 2em;
    font-size: 8pt;
    vertical-align: middle;
}

.homecategory
{
    float:left;
    margin-left: 1em;
    font-size: 8pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.homecategory-selected
{
    float:left;
    margin-left: 1em;
    font-size: 8pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.category
{
    float: right;
    margin-right: 1em;
    font-size: 8pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.category-selected
{
    float: right;
    margin-right: 1em;
    font-size: 8pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.menubar
{
    position: absolute;
    right: 0px;
    width: 150px;
    background-color: #F8F8F8;
    color: black;
    font-size: 8pt;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu
{
    border-bottom: 1px black solid;
}

div[border="none"]
{
    border: none;
}

.menuitem
{
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menuitem-selected
{
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #9999FF;
    color: black;
}

.content
{
    background-color: white;
    color: black;
    font-size: 10pt;
    margin-right: 160px;
}

.section
{
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 1em;
}

.section-header
{
    display: block;
    font-size: 18pt; 
    text-align:left; 
    border-bottom:solid 1px #333333; 
    margin-left: -1em;
    margin-right: 1em;
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 30px;
}

.subsection
{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.subsection-header
{
    font-size: 14pt;
}

.footer
{
    border-top: 3px solid #B0B0B0;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2px;
    font-size: 8pt;
    font-family: Verdana, Tahoma, Helvetica, Sans-Serif;
    font-style: italic;
}

.copyright
{
    margin-left: 1em;
    margin-right: 1em;
}

.views
{
    margin-top: 10px;
    margin-left: 1em;
}

#xmllink
{
    border: none;
    color: white;
    background-color: white;
}

dd
{
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    margin: 0;
    display: block;
}

dt
{
    margin: 1em;
    display: block;
}

pre.source
{
    padding: 1em;
    white-space: pre;
    background-color: #F8F8F8;
    border: 1px solid black;
    font-family: Courier, fixed, serif;
}

div.source-title
{
    font-style: italic;
    padding-left: 2em;
    padding-top: 0.2em;
}

table.formatting
{
    background-color: white;
    color: black;
    border: none;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

table
{
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    margin: 1em;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
}

th
{
    background-color: #AAA;
    border-right: 1px solid #333333;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

td
{
    text-align: left;
    vertical-align: top;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid #333333;
}

tr[row='odd']
{
    background-color: #DDD;
}

tr[row='even']
{
    background-color: #F4F4F4;
}

a.category:link:hover, a.category:visited:hover, a.category:active,
a.homecategory:link:hover, a.homecategory:visited:hover, a.homecategory:active
{
    color: black;
    background-color: #D0E0F0;
}

a.category:active, 
a.homecategory:active
{
    color: black;
    background-color: #C0D0E0;
    outline: none;
}

a.category:link, a.category:visited, 
a.homecategory:link, a.homecategory:visited
{
    background-color: #666699;
    color: white;
    text-decoration: none;
}

a.category:focus, 
a.homecategory:focus
{
    outline: none;
}

a.menuitem:link:hover, a.menuitem:visited:hover, a.menuitem:active
{
    color: black;
    background-color: #D0E0F0;
}

a.menuitem:active
{
    color: black;
    background-color: #D0E0F0;
    outline: none;
}

a.menuitem:link, a.menuitem:visited
{
    background-color: #F8F8F8;
    color: black;
    text-decoration: none;
}

a.menuitem:focus
{
    color: black;
    outline: none;
}

/********************************/
a.category-selected:link:hover, a.category-selected:visited:hover, a.category-selected:active,
a.homecategory-selected:link:hover, a.homecategory-selected:visited:hover, a.homecategory-selected:active
{
    color: black;
    background-color: #D0E0F0;
    text-decoration: underline;
}

a.category-selected:active, 
a.homecategory-selected:active
{
    color: black;
    background-color: #C0D0E0;
    outline: none;
    text-decoration: underline;
}

a.category-selected:link, a.category-selected:visited, 
a.homecategory-selected:link, a.homecategory-selected:visited
{
    background-color: #666699;
    color: white;
    text-decoration: underline;
}

a.category-selected:focus, 
a.homecategory-selected:focus
{
    outline: none;
}

a.menuitem-selected:link:hover, a.menuitem-selected:visited:hover, a.menuitem-selected:active
{
    color: black;
    background-color: #D0E0F0;
}

a.menuitem-selected:active
{
    color: black;
    background-color: #D0E0F0;
    outline: none;
}

a.menuitem-selected:link, a.menuitem-selected:visited
{
    background-color: #D0E0F0;
    color: black;
    text-decoration: none;
}

a.menuitem-selected:focus
{
    color: black;
    outline: none;
}

img
{
    border: none;
}
