RedirectMatch ^/index.html http://avalon.apache.org/products/index.html
RedirectMatch ^/apps(.*) http://avalon.apache.org/phoenix/applications.html
RedirectMatch ^/sandbox/meta(.*) http://avalon.apache.org/meta
RedirectMatch ^/sandbox/merlin(.*) http://avalon.apache.org/merlin
RedirectMatch ^/sandbox/api(.*) http://avalon.apache.org/merlin/api
RedirectMatch ^/cornerstone(.*) http://avalon.apache.org/components
RedirectMatch ^/merlin/starting/installation/3.0(.*) http://avalon.apache.org/merlin/starting/installation
RedirectMatch ^/merlin/starting/installation/3.2(.*) http://avalon.apache.org/merlin/starting/installation
