<?xml version="1.0" encoding="UTF-8"?>
<project
    href="http://jakarta.apache.org/avalon/excalibur/instrument/"
    name="Excalibur Instrument">

    <title>Excalibur Instrument</title>
    <body>
        <menu name="Related">
          <item href="../fortress/" name="Excalibur Fortress"/>
        </menu>
        <menu name="About">
            <item name="Overview" href="index.html"/>
            <item name="Enabling Instrumentation" href="instrumentables.html"/>
            <item name="Download" href="http://jakarta.apache.org/builds/jakarta-avalon-excalibur/release/???"/>
            <item name="API Docs" href="api/"/>
        </menu>
    </body>
</project>
