# -----------------------------------------------------------------------------
# Component ant.properties.sample
#
# This is an example "ant.properties" file, used to customize the building of
# the component for your local environment.  It defines the location of all
# external modules that this component depend on.  Copy this file to
# "ant.properties" in the source directory, and customize it as needed.
#
# The ant.properties values in this directory apply only to this component, and
# override the defaults in ../ant.properties.
#
# $Id: ant.properties.sample,v 1.2 2002/08/04 01:07:39 leif Exp $
# -----------------------------------------------------------------------------

# --------------------------------------------------
#      COMPONENT-SPECIFIC REQUIRED LIBRARIES
# --------------------------------------------------


# ----- Compile Control Flags -----
build.debug=on
build.optimize=off
build.deprecation=off

# ----- Base Directory in which all the packages are stored -----
base.path=/opt

# --------------------------------------------------
#                REQUIRED LIBRARIES
# --------------------------------------------------

# ----- Xerces -----
xerces.home=../../../../jakarta-avalon/tools/lib/
xerces.jar=${xerces.home}/xerces-2.0.1.jar

# ----- XML-APIs -----
xml-apis.home=../../../../jakarta-avalon/tools/lib/
xml-apis.jar=${xml-apis.home}/xml-apis.jar

# ----- Xalan -----
xalan.home=../../../../jakarta-avalon/tools/lib/
xalan.jar=${xalan.home}/xalan-2.3.1.jar

# ----- Logkit -----
logkit.home=../../../../jakarta-avalon-logkit/build/lib
logkit.jar=${logkit.home}/logkit.jar

# ----- Avalon Framework -----
avalon-framework.home=../../../../jakarta-avalon/build/lib
avalon-framework.jar=${avalon-framework.home}/avalon-framework.jar

# ----- Excalibur Concurrent -----
excalibur-concurrent.home=../../../concurrent/build/lib
excalibur-concurrent.jar=${excalibur-concurrent.home}/excalibur-concurrent-1.0.jar

# ----- Excalibur Collections -----
excalibur-collections.home=../../../collections/build/lib
excalibur-collections.jar=${excalibur-collections.home}/excalibur-collections-1.0.jar

# ----- Excalibur Component -----
excalibur-component.home=../../../component/build/lib
excalibur-component.jar=${excalibur-component.home}/excalibur-component-1.0.jar

# ----- Excalibur Logger -----
excalibur-logger.home=../../../logger/build/lib
excalibur-logger.jar=${excalibur-logger.home}/excalibur-logger-1.0.jar

# ----- Excalibur Pool -----
excalibur-pool.home=../../../pool/build/lib
excalibur-pool.jar=${excalibur-pool.home}/excalibur-pool-1.0.jar

# ----- Excalibur Instrument -----
excalibur-instrument.home=../../../instrument/build/lib
excalibur-instrument.jar=${excalibur-instrument.home}/excalibur-instrument-0.3.jar
excalibur-instrument-manager.jar=${excalibur-instrument.home}/excalibur-instrument-manager-0.3.jar
excalibur-instrument-manager-interfaces.jar=${excalibur-instrument.home}/excalibur-instrument-manager-interfaces-0.3.jar

# ----- Altrmi -----
excalibur-altrmi.home=../../../altrmi/build/lib
excalibur-altrmi-common.jar=${excalibur-altrmi.home}/excalibur-altrmi-common.jar
excalibur-altrmi-server-impl.jar=${excalibur-altrmi.home}/excalibur-altrmi-server-impl.jar
excalibur-altrmi-server-interfaces.jar=${excalibur-altrmi.home}/excalibur-altrmi-server-interfaces.jar

# ----- JUnit Unit Test Suite, version 3.7 or later -----
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar



# --------------------------------------------------
#                OPTIONAL LIBRARIES
# --------------------------------------------------

# ----- Checkstyle, version 2.1 or later -----

# Uncomment the 'do.checkstyle' flag property to enable checkstyle
# do.checkstyle=
checkstyle.home=${base.path}/checkstyle-2.1
checkstyle.lib=${checkstyle.home}
checkstyle.jar=${checkstyle.lib}/checkstyle-all-2.1.jar
