<?xml version="1.0" encoding="UTF-8"?>
<project href="http://jakarta.apache.org/avalon/excalibur/event/" name="Excalibur Event">
  <title>Excalibur Event</title>
  <body>

    <menu name="About">
      <item href="index.html" name="About Event"/>
      <item href="http://jakarta.apache.org/avalon/excalibur/index.html" name="Excalibur Home"/>
      <item href="http://jakarta.apache.org/builds/jakarta-avalon-excalibur/release" name="Download"/>
      <item href="api/" name="API Docs"/>
    </menu>

    <menu name="Overview">
      <item href="event.html" name="Event"/>
      <item href="command.html" name="Command"/>
 <!--     <item href="mpool.html" name="MPool"/>
      <item href="thread.html" name="Thread"/>
      <item href="util.html" name="Util"/>    -->
    </menu>
<!--
    <menu name="How To">
      <item href="event-howto.html" name="Use Event Queues"/>
      <item href="command-howto.html" name="Use the Command Manager"/>
      <item href="mpool-howto.html" name="Use MPool"/>
      <item href="thread-howto.html" name="Use Thread Pools"/>
      <item href="util-howto.html" name="Use System Util"/>
      <item href="cpuparser-howto.html" name="Extend System Util"/>
    </menu>
  -->
  </body>
</project>
