RedirectMatch ^/apps(.*) http://avalon.apache.org/phoenix/applications.html
RedirectMatch ^/api/org/apache/avalon/phoenix/components/application/BlockEntry.html http://avalon.apache.org/phoenix
RedirectMatch ^/sandbox/meta(.*) http://avalon.apache.org/meta
RedirectMatch ^/sandbox/merlin(.*) http://avalon.apache.org/merlin
RedirectMatch ^/sandbox/api(.*) http://avalon.apache.org/merlin/api
RedirectMatch ^/cornerstone(.*) http://avalon.apache.org/components
RedirectMatch ^/merlin(.*) http://avalon.apache.org/products/runtime
RedirectMatch ^/merlin/starting/installation/3.0(.*) http://avalon.apache.org/merlin/starting/installation
RedirectMatch ^/merlin/starting/installation/3.2(.*) http://avalon.apache.org/merlin/starting/installation
RedirectMatch ^/bindownload.cgi http://avalon.apache.org/download.cgi
RedirectMatch ^/code-standards.html http://avalon.apache.org/community/process/code-standards.html
RedirectMatch ^/framework/inversion-of-control.html http://avalon.apache.org/framework/cop
RedirectMatch ^/framework/separation-of-interface-and-implementation.html http://avalon.apache.org/framework/cop/guide-patterns-ioc.html
RedirectMatch ^/framework/inversion-of-control.html http://avalon.apache.org/framework/cop
RedirectMatch ^/api/org/apache/avalon/excalibur/packagemanager/impl/DefaultExtensionManager.html http://avalon.apache.org/util/api/org/apache/avalon/extension/manager/impl/DefaultExtensionManager.html
RedirectMatch ^/assemblers(.*) http://avalon.apache.org/phoenix/assemblers
RedirectMatch ^/avalon/index.html http://avalon.apache.org/
RedirectMatch ^/avalon/logging(.*) http://avalon.apache.org/logging
RedirectMatch ^/avalon/merlin(.*) http://avalon.apache.org/merlin
RedirectMatch ^/avalon/util/index.html http://avalon.apache.org/util/index.html
RedirectMatch ^/fortress(.*) http://avalon.apache.org/excalibur/fortress
RedirectMatch ^/bdg(.*) http://avalon.apache.org/phoenix/bdg
RedirectMatch ^/bdg(.*) http://avalon.apache.org/phoenix/bdg
RedirectMatch ^/excalibur/configuration/apidocs(.*) http://avalon.apache.org/excalibur/api
RedirectMatch ^/framework/guide-cop-in-avalon.html http://avalon.apache.org/framework/cop/guide-cop-in-avalon.html
RedirectMatch ^/introduction.html http://avalon.apache.org/developing/introduction.html
RedirectMatch ^/merlin/merlin/systems/about/reference.html http://avalon.apache.org/merlin/reference
RedirectMatch ^/merlin/merlin/systems/about/bootstrap.html http://avalon.apache.org/merlin/reference/system
RedirectMatch ^/merlin/merlin/systems/about/api/index.html http://avalon.apache.org/merlin/reference
RedirectMatch ^/merlin/merlin/systems/about/spi.html http://avalon.apache.org/merlin/reference
RedirectMatch ^/merlin/meta/kernel/logging.html http://avalon.apache.org/merlin/merlin/systems/logging.html
RedirectMatch ^/meta/meta/info/type/attributes/index.html http://avalon.apache.org/meta/meta/info/attributes/index.html
RedirectMatch ^/excalibur/fortress/developer-activity-report.html http://avalon.apache.org/excalibur/fortress
RedirectMatch ^/excalibur/fortress/file-activity-report.html http://avalon.apache.org/excalibur/fortress
RedirectMatch ^/logkit/api/org/apache/log/util/Closeable.html http://avalon.apache.org/logkit/index.html

RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/cli/jeff@socialchange.net.au http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/collections/bloritsch@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/collections/fede@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/collections/g-froehlich@gmx.de http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/datasource/proyal@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/testcase/bloritsch@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/logger/factory/sylvain@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/excalibur/configuration/validation/proyal@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/excalibur/event/command/bloritsch.at.apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/excalibur/instrument/manager/proyal@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/avalon/excalibur/logger/proyal@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/excalibur/api/org/apache/excalibur/source/stephan@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/logkit/api/org/apache/log/output/lf5/sylvain@apache.org http://avalon.apache.org/community/who/index.html
RedirectMatch ^/phoenix/api/org/apache/avalon/phoenix/components/embeddor/bauer@denic.de http://avalon.apache.org/community/who/index.html

RedirectMatch ^/phoenix/api/org/apache/avalon/phoenix/components/embeddor/colus@isoft.co.kr http://avalon.apache.org/community/who/index.html

RedirectMatch ^/phoenix/api/org/apache/avalon/phoenix/components/embeddor/mail@leosimons.com http://avalon.apache.org/community/who/index.html

RedirectMatch ^/phoenix/api/org/apache/avalon/phoenix/components/embeddor/mail@leosimons.com http://avalon.apache.org/community/who/index.html

RedirectMatch ^/phoenix/api/org/apache/avalon/phoenix/interfaces/mail@leosimons.com http://avalon.apache.org/community/who/index.html

