
  

  
  

  
  

  

  
  

  
  

  
  

  

  

  

  

  

  
  
  
  
      
  

      
      
      
      
      
      
        
         
      
      

      
      
      
      

      
      
      

      

  
  

  
  

   
   


    
	
	

    
    
      
	
	
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html>
      <head>
        
        
          <title>
            Cornerstone Threads - 
          Cornerstone Scheduler
        
          </title>
        
        
        
        <style type="text/css">
          @import url("../style/tigris.css");
          @import url("../style/maven.css");
        </style>
        
        
        
        
        
        <link rel="stylesheet" href="../style/print.css" type="text/css" media="print"></link>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
        
          <meta name="author" content="Stephen McConnell"></meta>
          <meta name="email" content="mcconnell@apache.org"></meta>
        
        
        
        
      </head>

      <body class="composite">

        <div id="banner">
          <table height="103" border="0" width="100%" cellpadding="8" cellspacing="0">
            <tr>
              
              <td>
                
                
                  
                  
                  
                    
                  
                  
                  
                  
                  
                  <a href="http://avalon.apache.org/">
                    <img border="0" alt="Apache Software Foundation" src="http://avalon.apache.org/images/apache-avalon-logo.png" align="left"></img>
                  </a>
                
              </td>

              <td></td>
              

            </tr>
          </table>
        </div>
        <div id="breadcrumbs">
          <table border="0" width="100%" cellpadding="4" cellspacing="0">
            <tr>
              
              <td>
                <div align="right">
                  
                  
                  
                    
    
    
      
      
      
      <a href="http://apache.org/">Apache</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/">Avalon</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/framework/">Framework</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/containers/">Merlin</a>
      
    
      |
      
      
      <a href="http://avalon.apache.org/product/components/">Planet</a>
      
    
  
                  
                  
                </div>
              </td>
            </tr>
          </table>
        </div>
        
        <table border="0" width="100%" cellpadding="8" cellspacing="0"> 
          <tr valign="top">
            <td width="20%" id="leftcol">
              <div id="navcolumn">
                

                
                  
    <div>
      <strong>About Cornerstone</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../index.html">Overview</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../components/index.html">Components</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../examples/index.html">Examples</a>
      	
      </small>
	  
        
    
    
    
    

    <div>
      <small>
      	
      		<b><a href="../examples/threads.html">Threads</a></b>
      	
      	
      </small>
	  
        
      
    </div>
  
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="../notes/index.html">Developer Info</a>
      	
      </small>
	  
        
      
    </div>
  
    </div>
  
    <div>
      <strong>Related Projects</strong>
      
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/meta">Avalon Meta</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/framework">Avalon Framework</a>
      	
      </small>
	  
        
      
    </div>
  
    
    
    
    

    <div>
      <small>
      	
      	
      		<a href="http://avalon.apache.org/merlin">Avalon Merlin</a>
      	
      </small>
	  
        
      
    </div>
  
    </div>
  
                
                
                
                

                
                
                <div>
                  <strong>Project Documentation</strong>
                  
                  <div>
                    <small>
                      <a href="../project-info.html">Project Info</a>
                    </small>
                    
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                      
                    
                  </div>
                  <div>
                    <small>
                      <a href="../maven-reports.html">Project Reports</a>
                    </small>
                    
					
                    
                    
                      
                      
                    
                      
                      
                    
                    
                    
                    
                  </div>
                  
                    
                  
                  
                </div>
              
              
                
                
                
                
              
                
              </div>
            </td>
            <td rowspan="2">
              <div id="bodycol">
                
                <div class="app">
                  
                  
    <div class="h3">
      
      
        <h3>
          <a name="Cornerstone Components - Threads">Cornerstone Components - Threads</a>
        </h3>
      
      
    <div class="h4">
      
      
        <h4>
          <a name="Example">Example</a>
        </h4>
      
      
    
    <table border="1" width="100%" cellspacing="2" cellpadding="3">
      
    
      
        
      
      
    

    
    <tr class="b">
    <th>
      Source
    </th>
   
    <th>
      Description
    </th>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
    <a href="http://cvs.apache.org/viewcvs.cgi/avalon-components/threads-tutorial/src/java/org/apache/avalon/cornerstone/threads/tutorial/ThreadConsumer.java">ThreadConsumer.java</a>
  
            
    </td>
   
    <td>
      
              A demonstration component implementation demonstrates the resolution
              of a ThreadManager and subsequent access to a ThreadPoll against 
              which a Runnable object is launched.  Termination of the container 
              before this time will trigger disposal of the component causing the 
              interruption of the subsidiary thread.
            
    </td>
   </tr>
  
    
      
        
      
      
    

    
    <tr class="b">
    <td>
      
              
    <a href="http://cvs.apache.org/viewcvs.cgi/avalon-components/threads-tutorial/src/java/org/apache/avalon/cornerstone/threads/tutorial/Counter.java">Counter.java</a>
  
            
    </td>
   
    <td>
      
              The runnable object that simply initiates a countdown and will normally 
              complete and terminate within 10 seconds.  Used by the ThreadConsumer
              component to establish a threaded activity.
            
    </td>
   </tr>
  
    
      
      
        
      
    

    
    <tr class="a">
    <td>
      
              
    <a href="http://cvs.apache.org/viewcvs.cgi/*checkout*/avalon-components/threads-tutorial/conf/block.xml">block.xml</a>
  
            
    </td>
   
    <td>
      
              Merlin deployment directive.

    <div id="source">
      <pre>
&lt;container name="thread-tutorial"&gt;

     &lt;categories&gt;
       &lt;category name="classloader/scanner" priority="ERROR"/&gt;
     &lt;/categories&gt;

     &lt;classloader&gt;
       &lt;classpath&gt;
         &lt;repository&gt;
           &lt;resource id="avalon-framework:avalon-framework-impl" version="4.1.5"/&gt;
           &lt;resource id="commons-collections:commons-collections" version="2.1"/&gt;
           &lt;resource id="excalibur-pool:excalibur-pool" version="1.2"/&gt;
           &lt;resource id="excalibur-thread:excalibur-thread" version="1.1.1"/&gt;
           &lt;resource id="excalibur-event:excalibur-event" version="1.0.3"/&gt;
           &lt;resource id="cornerstone-threads:cornerstone-threads-api" version="1.0"/&gt;
           &lt;resource id="cornerstone-threads:cornerstone-threads-impl" version="1.0"/&gt;
         &lt;/repository&gt;
       &lt;/classpath&gt;
     &lt;/classloader&gt;

     &lt;component name="threads" 
        class="org.apache.avalon.cornerstone.blocks.threads.DefaultThreadManager"&gt;
       &lt;configuration&gt;
         &lt;thread-group&gt;
           &lt;name&gt;default&lt;/name&gt;
           &lt;priority&gt;5&lt;/priority&gt; 
           &lt;is-daemon&gt;false&lt;/is-daemon&gt;
           &lt;max-threads&gt;100&lt;/max-threads&gt;
           &lt;min-threads&gt;20&lt;/min-threads&gt;
           &lt;min-spare-threads&gt;20&lt;/min-spare-threads&gt;
         &lt;/thread-group&gt;
       &lt;/configuration&gt;
     &lt;/component&gt;

     &lt;component name="test" 
        class="org.apache.avalon.cornerstone.threads.tutorial.ThreadConsumer" /&gt;

&lt;/container&gt;
</pre>
    </div>
  
            
    </td>
   </tr>
  
    </table>
  
    </div>
  
    <div class="h4">
      
      
        <h4>
          <a name="Runtime">Runtime</a>
        </h4>
      
      
    <p>
      
To execute this demonstration please make sure that you copy the cornerstone-threads-* jar files from your Maven repository to you 
    <a href="http://avalon.apache.org/sandbox/merlin/">Merlin</a>
   repository.

    </p>
   
    <div id="source">
      <pre>
$ cd avalon-cornerstone\threads\tutorial
$ merlin target\cornerstone-threads-tutorial-1.0.jar

[INFO   ] (thread-tutorial.test): aquiring cornerstone threads service
[INFO   ] (thread-tutorial.test): initialization
[INFO   ] (thread-tutorial.test.counter): count: 10
[INFO   ] (thread-tutorial.test.counter): count: 9
[INFO   ] (thread-tutorial.test.counter): count: 8
[INFO   ] (thread-tutorial.test.counter): count: 7
</pre>
    </div>
  
    <p>
      
Interrupting the container (using ^C) will trigger component disposal
which in turn will trigger early termination of the thread established
using the cornerstone thread manager.

    </p>
   
    <div id="source">
      <pre>
[INFO   ] (thread-tutorial.test): disposal
[INFO   ] (thread-tutorial.test): disposal invoked while child thread active
[INFO   ] (thread-tutorial.test.counter): I've been interrupted.
[INFO   ] (thread-tutorial.test.counter): Time to die.
[INFO   ] (thread-tutorial.test): disposal complete
</pre>
    </div>
  
    </div>
  
    </div>
  
                  
                  
                  
                  
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="footer">
          <table border="0" style="width:100%" cellpadding="4" cellspacing="0">
            
            <tr>
              <td>
                
                  
                    
                    
                      © 1997-2004, Apache Software Foundation
                    
                  
                  
                

                
              </td>
              
            </tr>
          </table>
        </div>
      </body>
    </html>
  